{% extends "base.html" %}
{% block title %}
About
{% endblock %}

{% block content %}
<div class="container bg-light text-center w-50" >
<h1> About Page</h1>
<p>hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. 
     The modern hospital also often serves as a centre for investigation and for teaching.Hospitals are institutions that deal with health care activities. They offer treatment to patients with specialized staff and equipment.
      In other words, hospitals serve humanity and play a vital role in the social welfare of any society. They have all the facilities to deal with varying diseases to make the patient healthy. The essay on hospital will take us through their types and importance.
      There are also semi-government hospitals that a private and organization and government-run together. Further, there are general hospitals that deal with different kinds of healthcare but with a limited capacity.

      General hospitals treat patients from any type of disease belonging to any sex or age. Alternatively, there are specialized hospitals that limit their services to a particular health condition like oncology, maternity and more.</p>
</div>
{% endblock %}